#contenido
{
	margin-top:50px;
	margin-left: 10em;
	width:55%;
	float:left;
	
}
#contenido span
{
	font-size: 20px;
	display:block;
}
#contenido figure
{
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}
.der
{
	padding-right: 3em;
}
